.main {
  height: 90vh;
  overflow: hidden;
}

.main-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  padding-right: 1.5rem;
  gap: 1rem;
  position: relative;
}

.processos-table {
  min-width: 375px;
  max-height: 75vh;
  overflow-y: auto;
  display: block;
  border-collapse: collapse;
}

.processos-table__header {
  background: var(--header-background);
  color: var(--text-color);
  position: sticky;
  top: 0;
  z-index: 1;
}
.processos-table__header th {
  padding: 0.2em 0.5rem;
  border-radius: 0.5rem 0.5rem 0 0;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.processos-table__header th:hover {
  background: var(--header-hover-background);
}
.processos-table__header th:first-child {
  text-align: left;
}

.processos-table__item {
  background: var(--cell-background);
  color: var(--text-color);
  transition: background-color 0.3s ease-in-out;
}
.processos-table__item:hover {
  background: var(--header-hover-background);
}

.processos-table__item:first-child {
  text-align: left;
  padding-left: 0.5rem;
}

#loader {
  margin: auto;
}

.check-icon {
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 0.8s ease-out, transform 0.4s ease-out;
  position: absolute;
  right: 0;
  width: 15px;
}

.check-icon.visible {
  opacity: 1;
  transform: scale(1);
}
